body { 
	background:url(http://win.rossovenexiano.com/ande/designtemplate/sfondo_libri.jpg) repeat ;
	font-family:Arial, Helvetica, sans-serif; font-size:100%; 
}

p.outset {
border-style:outset;
width:680px;
height:200px;
padding:2px;
margin-left:530px;
margin-bottom:80px;
}

div{
margin-left:80px;
}

h3{
color:red;
margin-left:50px;
}

